
.row {
  margin: 5vh auto;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container {
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  margin: 3vh 0;
  height: 200px;
}

@media screen and (max-width: 1200px) {
  img {
    height: 150px;
  }

  .container.grey {
    background-color: none;
  }

  .container:nth-of-type(2) {
    background-color: lightyellow;
  }
}
